.foot{
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
    background: rgb(24, 23, 23);
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid white; */
    border-top: 7px solid rgba(95, 94, 94, 0.336);
}
.fLeft{
    letter-spacing: 1px;
    display: flex;
    /* border: 2px solid white; */
}
.fLeft img{
    height: 100%;
    width: 70px;
    margin-right:15px;
}
.des{
    color: rgba(128, 129, 131, 0.753);
}
.bar{
    width: 300px;
    display: flex;
    background: red;
    height: 13px;
    margin-top: -9px;
    margin-left: 60px;
    border-radius: 5px;
    /* border: 1px solid white; */

}
.ps1{
    margin-right: 150px;
}
.ps1,.ps3{
    background: red;
    border: 2px solid white;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    margin-top: -2px;
}
.ps2{
    text-align: center;
    width: 50px;
    margin-top: -5px;
    font-size: 13px;
    color: white;
    background: black;
    margin-right: 75px;
}


.fMiddle{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid white; */
}
.pl{
    background: red;
    padding: 8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.fRight{
    width: 400px;
    display: flex;
    /* border: 2px solid white; */
    justify-content: space-between;
    align-items: center;
}
.vmC{
    display: flex;
    padding: 0 10px;
    align-items: center;
    margin-right: 10px;
}
.vm{
    margin-right: 10px;
}
.vrm{
    background: red;
    width:60px ;
    height: 10px;
}
.shop{
    /* width: 100%; */
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    padding: 13px;
}
.plC{
    margin-right: 25px;
}
